{% extends 'base.html' %}
{% block content %}

<h2 class="text-3xl font-bold mb-6">✏️ Edit Complaint</h2>

<form method="POST" class="glass p-6 space-y-4 max-w-xl mx-auto">
{% csrf_token %}

<input type="text" name="title"
value="{{ c.title }}"
class="w-full p-3 rounded-lg bg-white text-black border border-gray-300"
placeholder="Title">

<textarea name="desc"
class="w-full p-3 rounded-lg bg-white text-black border border-gray-300"
rows="5"
placeholder="Description">{{ c.desc }}</textarea>

<select name="status"
class="w-full p-3 rounded-lg bg-white text-black border border-gray-300">
<option value="pending" {% if c.status == "pending" %}selected{% endif %}>Pending</option>
<option value="inprogress" {% if c.status == "inprogress" %}selected{% endif %}>In Progress</option>
<option value="resolved" {% if c.status == "resolved" %}selected{% endif %}>Resolved</option>
</select>

<button class="bg-green-500 hover:scale-105 transition text-white px-6 py-2 rounded">
Update
</button>

</form>

{% endblock %}