{% extends 'base.html' %}
{% block content %}

<div class="flex items-center justify-center h-[80vh]">

    <div class="grid md:grid-cols-2 gap-10 w-full max-w-3xl">

        <!-- USER -->
        <a href="/userlogin/" 
           class="glass-card text-center p-10 text-xl font-bold hover:bg-blue-500/20">
            👤 USER PANEL
        </a>

        <!-- ADMIN -->
        <a href="/adminlogin/" 
           class="glass-card text-center p-10 text-xl font-bold hover:bg-red-500/20">
            🛠 ADMIN PANEL
        </a>

    </div>

</div>

{% endblock %}