{% extends 'base.html' %}
{% block content %}

<h2>{{ c.title }}</h2>
<p>{{ c.desc }}</p>
<p>Status: {{ c.status }}</p>
<p>Category: {{ c.category }}</p>

<div id="map" style="height:250px;"></div>

{% if c.image %}
<img src="{{ c.image.url }}" class="w-full h-60 object-cover">
{% endif %}

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script>
var map = L.map('map').setView([{{ c.latitude|default:13.08 }}, {{ c.longitude|default:80.27 }}], 13);
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
L.marker([{{ c.latitude|default:13.08 }}, {{ c.longitude|default:80.27 }}]).addTo(map);
</script>

{% endblock %}