{% extends 'base.html' %}
{% block content %}

<div class="flex justify-center items-center h-[80vh]">

<div class="glass-card w-80">

<h2 class="mb-4 text-center">User Login</h2>

<form method="POST">
{% csrf_token %}

<input name="username" placeholder="Username" class="input mb-2">
<input name="password" type="password" placeholder="Password" class="input mb-4">

<button class="btn btn-green w-full">Login</button>

</form>

<p class="text-center mt-3">
No account? <a href="/register/" class="text-blue-400">Register</a>
</p>

</div>

</div>

{% endblock %}